<div class="eport-page">
    <div class="wrapper">
        <div class="upper">
            <div class="banner">
                <div class="header">
                    <a href="">登录</a>
                    <span>|</span>
                    <a href="http://etg.gzcustoms.gov.cn/">新用户注册</a>
                    <span>|</span>
                    <a href="">关于我们</a>
                </div>
                <div class="logo" ></div>

                <div class="login-box" >

                </div>
            </div>
        </div>
        <div class="lower">
            <div class="card">
                <h1>在线制卡</h1>
                <h2>点击登录系统</h2>
            </div>
            <div class="notice">
                <h1>公告</h1>
                <ul class="notice-list">
                    <li class="notice-list-item" >
                        <a></a>
                    </li>
                </ul>
            </div>
            <div class="support">
                <h1>在线客服</h1>
            </div>
            <div class="faq">
                <h1>帮助中心</h1>
            </div>
            <div class="download">
                <h1>下载</h1>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="links">
                    <a href="">关于我们</a>
                    <span>|</span>
                    <a href="">客户服务</a>
                    <span>|</span>
                    <a href="">诚聘英才</a>
                </div>
                <div class="contact">
                    <span>地址:广州市天河区石牌街道海欣街22号</span>
                    <br>
                    <span>客户专线: 020-86010121</span>
                    <span>Email: support@gz-eport.com</span>


                </div>
                <div class="copyright">
                    <span>中国电子口岸数据分中心广州分中心版权所有</span>
                    <br>
                    <span>Copyright Reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>